#cloud-config
autoinstall:
  version: 1

  early-commands:
    - touch /tmp/cloud-init-started

  locale: en_US.UTF-8
  keyboard:
    layout: us
  
  network:
    network:
      version: 2
      ethernets:
        mainif:
          match:
            name: e* # Матчим любой ethernet интерфейс (enp3s0, eth0 и т.д.)
          dhcp4: true

  storage:
    layout:
      name: direct

  identity:
    hostname: ubuntu-lenovo
    username: amber
    password: "$6$n2TIHM0qiwGIBYk4$Iztxhj1LUbjr9jXkK51HGdsFVmb.gctk5Wh/xJaKXJWHwWRELffqTDO0QYVw278GQkZSy.eIM1Jp4kxoT2jRz0"
    realname: Maria

  ssh:
    install-server: true
    allow-pw: false
    authorized-keys:
      - ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQChniELdwi1gWgmsDphR9C7M7+539EWkl3x9nMKXm41CFvQOkUVzzsvOQx/5/kuiUKw67x6qFJ9xIODXLuLoada06i7l4uu0xBpZhZMdTCd73fsSSB9LXZNFxN9Fd+kQRYA8vuR0iiL8y6Jr/MwlP2MgjA6X9Zg2T32I/bRZZPiE2Cd5r+OUjQeBG+V+q56VxF6VFrDhHZ6MBxYn3VL80JccSppWJK003+KRqhvtqKf6bNw5MZN5HzzsgWf8pmseab3RcNfwbXYIXjqUcOEFQrmyFPp/rVKTFAc0HB5OrBE6iZsjV8AVfs3QRwKp2VBMASFS0E5Rm+xb4sQ3cFmqO6v

  packages:
    - htop
    - curl
    - vim
    - git

  late-commands:
    - "echo 'admin ALL=(ALL) NOPASSWD:ALL' > /target/etc/sudoers.d/admin"
    - "shutdown -h now"
